<div class="hero-section">
  <div class="row align-items-center">
    <div class="col-md-6 hero-text">
      <form (submit)="login()">
        <div class="mb-3">
          <label for="email" class="form-label">EMAIL</label>
          <input
            type="email"
            [(ngModel)]="loginData.email"
            name="email"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">PASSWORD</label>
          <input
            type="password"
            [(ngModel)]="loginData.password"
            name="password"
            class="form-control"
            required
          />
        </div>
        <div class="d-flex justify-content-center mt-4">
          <button type="submit" class="btn btn-login">ACCEDI</button>
        </div>
      </form>
    </div>
    <div class="col-md-6 hero-image text-center">
      <img src="./assets/img/immagine1.jpg" alt="Workout Image" />
    </div>
  </div>
</div>
