body {
  background-color: #f5f5dc; /* Beige molto chiaro */
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.programs-container {
  background-color: #f5f5dc; /* Beige molto chiaro */
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.program-header {
  flex: 2; /* Lascia più spazio al contenuto degli esercizi */
  margin-right: 40px;
}

.program-header h1 {
  font-family: 'Arial Black', sans-serif;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.program-description {
  font-size: 1.2rem;
  color: #666;
}

.program-content {
  flex: 3; /* Larghezza maggiore per la lista degli esercizi */
}

.program-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.exercise-item {
  display: flex;
  align-items: center;
  background-color: #fff; /* Sfondo bianco per il contenuto dell'esercizio */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: start; /* Allinea gli elementi all'inizio dell'elemento .exercise-item */
  gap: 10px; /* Distanza tra l'immagine e il testo */
}

.exercise-info {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1;
  justify-content: flex-start;
}

.exercise-number {
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  border: 2px solid #000;
}

.exercise-details {
  text-align: left; /* Allinea il testo a sinistra */
  flex: 2;
  font-size: 0.9rem;
  color: #555;
  padding-left: 20px;
}

.exercise-image {
  width: 300px; /* Larghezza fissa dell'immagine */
  height: 250px; /* Altezza automatica per mantenere l'aspetto */
  border-radius: 5px; /* Opzionale: bordi arrotondati */
}

.btn.btn-primary {
  width: 150px; /* Larghezza più piccola del pulsante */
  height: auto; /* Altezza automatica per adattarsi al contenuto */
  background-color: #d4af37; /* Colore oro */
  color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  align-self: center; /* Centra il pulsante orizzontalmente */
  padding: 10px 20px; /* Padding per regolare la distanza interna */
  margin-top: 40px; /* Spazio tra l'ultimo esercizio e il pulsante */
  transition: background-color 0.3s ease;
  display: inline-block; /* Mantiene il pulsante compatto intorno al contenuto */
  text-align: center; /* Centra il testo orizzontalmente */
}

.btn.btn-primary:hover {
  background-color: #c0932b; /* Colore leggermente più scuro al passaggio del mouse */
}

