/* Navbar Custom Styles */
.navbar-custom {
  background-color: #eedece;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid #d4af37;
  text-align: center;
}

/* Stile per la scritta centrale */
.navbar-custom .navbar-brand {
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #d4af37,
      0 0 30px #d4af37,
      0 0 40px #d4af37,
      0 0 50px #d4af37,
      0 0 60px #d4af37;
}

/* Stile dei link della navbar */
.navbar-custom .nav-link-custom {
  color: #2c2c2c;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 5px 15px;
  padding: 5px 10px;
  position: relative;
  transition: color 0.3s ease;
}

.navbar-custom .nav-link-custom:hover {
  color: #d4af37;
}

.navbar-custom .nav-link-custom::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #d4af37;
  left: 50%;
  bottom: 0;
  transition: width 0.3s ease, left 0.3s ease;
}

.navbar-custom .nav-link-custom:hover::after {
  width: 100%;
  left: 0;
}

.navbar-custom .btn-logout {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;  // Eredita il colore dal parent per coerenza
  font-family: 'Roboto', sans-serif;  // Eredita il font-family per coerenza
  font-size: inherit;  // Eredita il font-size per coerenza
  font-weight: bold;  // Assicura che il font-weight sia come gli altri link
  padding: 5px 10px;
  margin: 0;  // Rimuove margini predefiniti dei bottoni
  transition: color 0.3s ease;
}

.navbar-custom .btn-logout:hover, .navbar-custom .btn-logout:focus {
  color: #d4af37;  // Stesso colore al hover degli altri link
  outline: none;  // Rimuove l'outline al focus che i browser aggiungono ai bottoni
}

.navbar-custom .btn-logout::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #d4af37;
  left: 50%;
  bottom: 0;
  transition: width 0.3s ease, left 0.3s ease;
}

.navbar-custom .btn-logout:hover::after {
  width: 100%;
  left: 0;
}


