

    <div class="container-fluid hero-section">
        <div class="row">
            <div class="col-md-6 hero-image profile-image">
                <img src="./assets/img/immagine2.jpg" alt="Workout Image">
            </div>
            <div class="col-md-6 hero-text">
                <form (submit)="register()">
                    <!-- Step 1: Email e Password -->
                    <div class="col-md-6 hero-text">
                      <form (submit)="register()">
                          <!-- Step 1: Email e Password -->
                          <div *ngIf="currentStep === 1">
                              <div class="mb-3">
                                  <label for="email" class="form-label">
                                    <i class="bi bi-envelope"></i> EMAIL
                                  </label>
                                  <input type="email" [(ngModel)]="userData.email" name="email" class="form-control" required>
                              </div>
                              <div class="mb-3">
                                  <label for="password" class="form-label">
                                      <i class="bi bi-lock"></i> PASSWORD
                                  </label>
                                  <input type="password" [(ngModel)]="userData.password" name="password" class="form-control" required>
                              </div>
                              <button type="button" class="btn btn-register" (click)="goToNextStep()">NEXT</button>
                          </div>
                      </form>
                  </div>

                    <!-- Step 2: Selezione del Genere con carte impilate -->
                    <div *ngIf="currentStep === 2">
                        <h3>GENDER</h3>
                        <div class="stacked-cards">
                            <div class="card selectable-card" [class.selected]="userData.gender === 'male'" (click)="selectGender('male')">
                                <div class="card-body text-center">
                                  <i class="fa-solid fa-person fa"></i> <h5>Maschio</h5>
                                </div>
                            </div>
                            <div class="card selectable-card" [class.selected]="userData.gender === 'female'" (click)="selectGender('female')">
                                <div class="card-body text-center">
                                  <i class="fa-solid fa-person-dress fa"></i> <h5>Femmina</h5>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-register" (click)="goToNextStep()">NEXT</button>
                    </div>

                    <!-- Step 3: Selezione del Livello di Esperienza con carte impilate -->
                    <div *ngIf="currentStep === 3">
                        <h3>LEVEL</h3>
                        <div class="stacked-cards">
                            <div class="card selectable-card" [class.selected]="userData.experienceLevel === 'Principiante'" (click)="selectExperience('Principiante')">
                                <div class="card-body text-center">
                                  <i class="bi bi-dice-1-fill"></i> <h5>Principiante</h5>
                                </div>
                            </div>
                            <div class="card selectable-card" [class.selected]="userData.experienceLevel === 'Intermedio'" (click)="selectExperience('Intermedio')">
                                <div class="card-body text-center">
                                  <i class="bi bi-dice-2-fill"></i> <h5>Intermedio</h5>
                                </div>
                            </div>
                            <div class="card selectable-card" [class.selected]="userData.experienceLevel === 'Avanzato'" (click)="selectExperience('Avanzato')">
                                <div class="card-body text-center">
                                  <i class="bi bi-dice-3-fill"></i> <h5>Avanzato</h5>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-register" (click)="goToNextStep()">NEXT</button>
                    </div>

                    <!-- Step 4: Selezione degli Obiettivi con carte impilate -->
                    <div *ngIf="currentStep === 4">
                        <h3>GOALS</h3>
                        <div class="stacked-cards">
                            <div class="card selectable-card" [class.selected]="userData.goals === 'Perdita di peso'" (click)="selectGoal('Perdita di peso')">
                                <div class="card-body text-center">
                                  <i class="fa fa-solid fa-weight-scale"></i> <h5>Perdita di peso</h5>
                                </div>
                            </div>
                            <div class="card selectable-card" [class.selected]="userData.goals === 'Aumento della massa muscolare'" (click)="selectGoal('Aumento della massa muscolare')">
                                <div class="card-body text-center">
                                  <i class="fa-solid fa-dumbbell fa"></i> <h5>Aumento della massa muscolare</h5>
                                </div>
                            </div>
                            <div class="card selectable-card" [class.selected]="userData.goals === 'Miglioramento della resistenza'" (click)="selectGoal('Miglioramento della resistenza')">
                                <div class="card-body text-center">
                                  <i class="fa-solid fa-person-running fa"></i> <h5>Miglioramento della resistenza</h5>
                                </div>
                            </div>
                            <div class="card selectable-card" [class.selected]="userData.goals === 'Flessibilità'" (click)="selectGoal('Flessibilità')">
                                <div class="card-body text-center">
                                  <i class="fa-solid fa-child-reaching fa"></i> <h5>Flessibilità</h5>
                                </div>
                            </div>
                            <div class="card selectable-card" [class.selected]="userData.goals === 'Benessere generale'" (click)="selectGoal('Benessere generale')">
                                <div class="card-body text-center">
                                  <i class="fa-solid fa-heart fa"></i> <h5>Benessere generale</h5>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-register">Registrati</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


