<div class="shop-container">
  <div class="shop-header">
    <h1>Scopri il Tuo Potenziale con i Nostri Prodotti</h1>
  </div>
  <div class="product-grid">
    <div *ngFor="let product of products" class="product-item">
      <img [src]="product.picture" alt="{{ product.name }}">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <p>Prezzo: {{ product.price | currency }}</p>
      <!-- Selettore per la quantità -->
      <div class="quantity-and-button">
        <input type="number" [(ngModel)]="selectedQuantities[product.id]" min="1" [value]="selectedQuantities[product.id] || 1" class="quantity-input">
        <button (click)="addToCart(product)">
          <i class="fa-solid fa-cart-plus"></i>
        </button>
      </div>
    </div>
  </div>
</div>
