.shop-header {
  background-image: url("/assets/img/shopbanner.webp");
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #4ca1a3;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.product-grid {
  margin-top: -100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  position: relative;
  z-index: 2;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  min-height: 350px;
  position: relative;
}

.product-item:hover {
  transform: translateY(-5px);
}

.product-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-item h2 {
  font-size: 2rem;
  color: #000;
}

.product-item p {
  font-size: 1rem;
  color: #000;
}

.quantity-and-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.quantity-selector {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.quantity-selector button,
.cart-button {
  background-color: #f2f2f2;
  border: none;
  font-size: 1.2rem;
  padding: 5px 10px;
  cursor: pointer;
  color: #000;
}

.quantity-selector button {
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-selector .quantity-input {
  text-align: center;
  border: none;
  background: transparent;
  color: #000;
  width: 40px;
  padding: 0 5px;
}

.cart-button {
  padding: 10px 20px;
  background: transparent;
  color: #007b7f;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.cart-button:hover {
  background-color: #4ca1a3;
  color: #000;
}

.decrease,
.increase {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
