.container-fluid {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 100%;
  margin: 0 auto!important;
  padding: 0;
  position: relative;
}

.workouts-header {
  background-image: url('/assets/img/immagine1.jpg');
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}

.page-title {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #4CA1A3;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.workouts-grid {
  margin-top: -100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  position: relative;
  z-index: 2;
  justify-content: center;
}

.workout-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  min-height: 350px;
  position: relative;
}

.workout-card:hover {
  transform: translateY(-5px);
}

.workout-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.workout-info {
  padding: 10px;
  flex: 1;
}

.workout-name {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
  margin-top: 10px;
}

.workout-description {
  font-size: 1rem;
  color: #666;
  margin: 10px 0 20px;
}

.btn-start {
  align-self: flex-start;
  margin-top: auto;
  padding: 10px 20px;
  background-color: #4CA1A3;
  color: #fff;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  width: fit-content;
  border-radius: 0;
}

.btn-start:hover {
  background-color: #007B7F;
}

.banner {
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.ad-carousel {
  display: flex;
  justify-content: center;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
}

.ad-carousel img {
  margin: 0 5px;
  max-width: 700px;
  transition: transform 0.3s ease;
}

.ad-carousel img:hover {
  transform: scale(1.02);
}

.shop-section {
  font-family: 'Oswald', sans-serif;
  padding: 20px;
  background-image: url('/assets/img/shop.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 3px;
}

.shop-section h2 {
  color: #007B7F;
}

.shop-section p {
  font-size: 1.3rem;
  color: #000;
  margin-bottom: 20px;
}

.shop-section .btn-primary {
  background-color: #4CA1A3;
  border-color: #4CA1A3;
}

.shop-section .btn-primary:hover {
  background-color: #007B7F;
  border-color: #007B7F;
}

#carouselExampleFade {
  margin: 0;
  padding: 0;
  width: 100%;
}

@media (max-width: 1250px) {
  .workouts-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adatta per schermi piccoli */
    justify-content: space-around; /* Distribuisce lo spazio intorno agli elementi */
  }
}
