.profile-container {
  padding: 20px;
}

.profile-header {
  display: flex;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px; /* Spazio tra le sezioni */
  font-family: 'Oswald', sans-serif;
  align-items: center;
}

.profile-image img {
  width: 180px;
  height: 180px;
  border-radius: 50%; /* Rende l'immagine tonda */
  object-fit: cover; /* Assicura che l'immagine copra l'area senza distorsioni */
  margin-right: 20px; /* Distanza tra immagine e testo */
  margin-top: 50px;
  border: #fff solid 1px;
}

.user-info {
  flex-grow: 1;
  margin-top: 80px;

}

.workout-history {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.workout-card {
  background-color: #ffebee; /* Sfondo rosa molto chiaro per le card */
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

h2, h4 {
  color: #333; /* Scuro per miglior contrasto */
}

p {
  margin: 5px 0;
}

/* Per gestire la parte superiore della pagina con sfondo corallo */
.profile-container::after {
  content: '';
  display: block;
  height: 50vh;
  width: 100%;
  background-color: #FF5470; /* Corallo */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.content-row {
  display: flex;
  justify-content: space-between; /* Distingue chiaramente le due colonne */
  width: 100%; /* Assicura che il contenuto riempia l'intera larghezza disponibile */
  margin-top: 20px; /* Distanza dal contenuto superiore */
}

.progress-chart {
  flex: 1.5; /* Occupa metà dello spazio disponibile */
  padding: 20px;
  margin-right: 20px; /* Spazio tra le due colonne */
}

.workout-history {
  flex: 1; /* Più spazio rispetto al grafico dei progressi */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.workout-card {
  background-color: #ffebee; /* Manteniamo lo stile della card */
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

/* Miglioramenti per responsività e visualizzazione */
@media (max-width: 768px) {
  .content-row {
    flex-direction: column;
  }
  .progress-chart, .workout-history {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

