<div class="profile-container">
  <div class="profile-header">
    <div class="profile-image">
      <img [src]="profileImageUrl" alt="User Image" />
    </div>
    <div class="user-info">
      <h2>
        {{
          user?.gender?.toLowerCase() === "male" ? "Bentornato" : "Bentornata"
        }},
        <span>{{ user?.name }}!</span>
      </h2>

      <p>{{ user?.experienceLevel }} - {{ user?.goals }}</p>
    </div>
  </div>

  <div class="content-row">
    <div class="progress-chart">
      <!-- Grafico dei progressi -->
      <h4>I tuoi progressi</h4>
      <apx-chart
        [series]="chartOptions?.series"
        [chart]="chartOptions?.chart"
        [labels]="chartOptions?.labels"
        [responsive]="chartOptions?.responsive"
      >
      </apx-chart>
    </div>

    <div class="workout-history">
      <h4>Storico Workout</h4>
      <div *ngFor="let item of progress" class="workout-card">
        <i class="fa fa-solid fa-dumbbell"></i>
        <p>
          <strong>{{ item.workoutSession?.name }}</strong>
        </p>
        <p>Livello: {{ item.workoutSession?.level }}</p>
        <p>Durata: <br />{{ item.workoutSession?.duration }} min</p>
        <p>
          <strong>{{ item.isCompleted ? "Completato" : "In corso" }}</strong>
        </p>
      </div>
    </div>
  </div>
</div>
