body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  overflow-x: hidden; /* Evita lo scrolling orizzontale */
}

.hero-section {
  display: flex;
  min-height: 100vh;
  align-items: stretch; /* Allunga le colonne in altezza */
  padding: 0;
  margin: 0;
}

.hero-text {
  flex: 1;
  padding: 20px;
  background-color: #fefefe; /* Colore di sfondo uguale al colore del testo */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 700;
  color: #2c2c2c;
}

.hero-text p {
  font-size: 1.2rem;
  color: #8b8b8b;
  margin-bottom: 20px;
}

.hero-buttons {
  margin-top: 20px;
}

.hero-buttons button {
  color: #2c2c2c;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  margin-right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.hero-buttons button.btn-primary {
  color: #2c2c2c;
}

.hero-buttons button.btn-outline-secondary {
  color: #2c2c2c;
}

.hero-buttons button:hover {
  color: #d4af37;
}

.hero-buttons button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #d4af37;
  transition: width 0.3s ease, left 0.3s ease;
}

.hero-buttons button:hover::before {
  width: 100%;
  left: 0;
}

.hero-image {
  flex: 1;
  height: 100vh; /* Occupa l'intera altezza della finestra */
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0;
  padding: 0;
  opacity: 0; /* Inizia con l'immagine nascosta */
  transform: translateX(-100px); /* Sposta l'immagine a sinistra */
  animation: slideIn 1.5s ease-in-out forwards; /* Esegui l'animazione */
}

/* Animazione per far scorrere l'immagine da sinistra verso destra con sfumatura */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100px); /* Partenza dalla sinistra */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Arrivo alla posizione naturale */
  }
}
