

    <div class="container-fluid hero-section">
        <div class="row g-0">
            <div class="col-md-6 hero-text">
              <h1>CoralCore Fitness</h1>
                <h2>Your Personal Workout Planner</h2>
                <div class="hero-buttons">
                    <button class="btn btn-primary" (click)="navigateToRegister()">Iscriviti</button>
                    <button class="btn btn-outline-secondary" (click)="navigateToLogin()">Accedi</button>
                </div>
            </div>
            <div class="col-md-6 hero-image">
                <img src="./assets/img/immagine1.jpg" alt="Workout Image">
            </div>
        </div>
    </div>


